{
  "extends": "airbnb-typescript-prettier",
  "rules": {
    "prefer-destructuring": "off",
    "no-console": "off",
    "no-shadow": "off",
    "import/no-cycle": "off",
    "@typescript-eslint/ban-ts-ignore": "off",  // TODO remove on prod
    "@typescript-eslint/no-unused-vars": "off", // TODO remove on prod
    "@typescript-eslint/no-empty-interface": "off", // TODO remove on prod
    "import/prefer-default-export": "off"
  }
}